@model IEnumerable<DapperCRUD.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table" border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Family)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Addresses" asp-route-id="@item.Id">Addresses</a> |
                    <a class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
